@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply select-none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #0067a3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    opacity: 0.5;
}

.swiper-pagination{
    display: none;
}
.sidebar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  

  .styled-range {
    -webkit-appearance: none;
    width: 70%;
    height: 6px;
    border-radius: 5px;
    background: linear-gradient(to right, #006FA3 50%, #ccc 50%);
    outline: none;
    transition: background 0.3s ease;
  }
  
  /* Thumb */
  .styled-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: #006FA3;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .styled-range::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #006FA3;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  