@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply select-none;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #0067a3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    opacity: 0.5;
}

.swiper-pagination{
    display: none;
}
.sidebar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  